
{font-family:"Roboto", sans-serif;}
h1{font-family:"Open Sans Condensed", sans-serif;}

{
  background: url(double-bubble.png) no-repeat center fixed;
  background-size: cover;
background-color: rgb(255,255,255);
}

 #header {background-color:#7cc576;
          padding: 1em;
 }

 #headertitle {"Open Sans Condensed"}

#Home {
  background-color: RGB (109,207,246);
  padding: 1em;
  border: 5px solid #000;
  float: left;
}



 #main_title {Title of Page
    font-size: 30pt;

}

.box {
 background-image:double-bubble.png; 
 padding: 100px;
 margin: 100px;
}







 #main_left {
     font: <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">;
   font-size: 20pt;
   padding: 1em;
   float: left;
   width: 65%;
   box-sizing: border-box;
    }

figure {
    float: left;
    /* set a margin to push the figures away from each other a bit */
    margin: 10px;
}




 #main_side {
   padding: 1em;
   float: right;
   width: 30%;
   box-sizing: border-box;
 }



 #footer {
   background-color: rgb(124,197,118);
   margin: 1em 0;
   clear:both;
 }
 
 #copyright {
    position: absolute;
    right: 0px;
 }

 .social_button {
   border: 10px;
 }
 .social_image {
   width: 100px;
   height: 75px;
 }

 