
   

body {
  font-family: serif;
  background-image: url("../img/doublebubbleoutline.png");
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  padding: 0;
  line-height: 1.5;
  font-family: 'Roboto';
  /* font-family: 'Roboto', sans-serif; XXX*/
  font-family: 'Roboto:wght@900', sans-serif;
}

h1, h2, h3, th {
    font-family: 'Roboto', sans-serif;
    color: #3b8586;
    text-shadow: 2px 2px 2px #aaa;
    text-transform: uppercase;
}

#branding {
    margin: 0px;
    padding: 0px;
    margin: 5%;
    --ff-accent:
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #aaa;
}

#topnav {
@@ -44,11 +46,30 @@ h1, h2, h3, th {
    padding-left: 0px;
}

#showcase {
    margin: 5%;
}
#showcase img {
    float: right;
    width: 30%;
}

#schedule {
    width: 90%;
    margin: 5%;
    border: thin solid;
    border-collapse: collapse;
    overflow-x:auto;
}
#schedule caption {
    text-align: left;
    padding-bottom: 20px;
    color: #3b8586;
    text-transform: uppercase;
    font-size: 15pt;
}
#schedule tr:nth-child(even) {
    background-color: #f2f2f2;
}
#schedule th {
    font-color: #3b8586;
    text-transform: uppercase;
    margin: 0px;
    padding: 10px;
    border: thin solid;
    text-align: center;
    font-size: 13pt;
}
#schedule td {
    margin: 0px;
    padding: 10px;
    border: thin solid;
    text-align: center;
    font-size: 10pt;
}

a{
    text-decoration: none;
    color:  #000000;
}
a:hover, a:active {
    background-color:#FF7F50;
}


/*trial CSS*/

.header {
  min-height: 100vh;
  width: 100%;

}

body{
  line-height: 1.5;
  font-family: serif;
  //background-color: #ffffff;
  background-image: url("../img/doublebubblebackgroundoutline.png");
}
/* changing this background-color to white changes the document to completely white */


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration:none;
}

.container{
  max-width:1170px;
  margin: auto;
}

.row{
  display:flex;
  flex-wrap: wrap;

}
.align-items-center {
  align-items: center;
}

.justify-content-between{
  justify-content: space-between;
}

.header{
  background-color: #3b8586;
  padding: 12px 0;
  position: relative;
}

/* changing this background-color didn't seem to do anything */


.header   .logo{}
.header   .nav{}

.header   .logo{
  font-size: 30px
  color: #3b8586;
  text-transform: capitalize;}
  /* changing this -color didn't seem to do anything */

.header   .nav ul li{
  display: inline-block;
  margin-left: 40px;
}

.header   .nav ul li a{
  display: block;
  font-size: 16px;
  padding: 10px 0;
  color: #3b8586;
  text-transform: capitalize;
  transition: all 0.5s ease;
}
 /* changing this -color didn't seem to do anything */

.header  .nav ul li a:hover,
.header  .nav ul li a.active{
  color: #808080;
}
 /* changing this -color didn't seem to do anything */

.header #nav-check{
  position: absolute;
  opacity: 0;
  pointer-events: none;














    /*Loader*/

.overlay-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(#a7a7a7, #4e4e4e);
  top: 0;
  z-index: 2;
  

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -74x 0 0 -74px;
  border: 15px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  animation: spin 3s linear infinite, change-color 4s ease-in-out infinite, border-radius-change 1s ease infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
    to {
    transform: rotate(360deg);
  }
}

@keyframes change-color {
  0% {
    border-top-color: #ffffff;
  }
  50% {
    border-top-color: #FF5722;
  }
  100% {
    border-top-color: #ffffff;
  }
}

@keyframes border-radius-change {
  0% {
    border-radius: 50%;
  }
  50% {
    border-radius: 0%;
  }
  100% {
    border-radius: 50%;
  }
}